.hero{
    height: 90vh;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.layout{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn{
    border-radius: 13px !important;
    padding: 19px !important;
    margin-bottom: 5px !important;
    background-color: white !important;
    color: black !important;
    margin-top: 15px !important;
}