.container {
    padding: 5rem !important;
    background-color: black !important;
    color: white !important;
  }
  
  .title {
    font-weight: bold !important;
    text-align: center !important;
    margin-bottom: 4rem !important;
  }
  
  .accordion {
    background-color: transparent !important;
    border-radius: 8px !important;
    margin-bottom: 2rem !important;
    color: white !important;
  }
  
  .expandIcon {
    color: white !important;
  }
  
  .imageContainer {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
  
  .image {
    max-width: 90% !important;
    height: auto !important;
    border-radius: 8px !important; 
  }
  
  .faqItem {
    margin-bottom: 2rem !important;
  }
  
  .accordionSummary {
    background-color: transparent !important;
    border-radius: 8px !important;
  }
  
  .accordionDetails {
    background-color: transparent !important;
    border-radius: 8px !important;
  }
  