.parent {
  background-color: black !important;
  color: white !important;
  padding: 2rem !important;
  text-align: center !important;
}

.center {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
}
.Card {
  background-color: #1c1c1c !important;
  color: white !important;
  border-radius: 2px !important;
  position: relative !important;
  box-shadow: 3px !important;
  margin-top: 2px !important;
  margin-bottom: 2px !important;
}
.Icon {
  position: absolute;
  top: 10px;
  right: 10px;
  color: black;
  filter: opacity(0.7);
  border-radius: 50%;
  background-color: white;
  padding: 5px;
  cursor: pointer;
  transition: transform 0.2s;
}

.Icon:hover {
  transform: scale(1.2); /* Slightly enlarge the icon on hover */
}

.body{
  background-color: white;
  color: black;
  filter: brightness(0.9);
}

.icons{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.btn{
    background-color: black !important;
    border-radius: 19px !important;
    padding: 0.5rem !important;
    width: 120px !important;
}
.price{
    font-weight: 700;
    font-size: 1.5rem;
    color: green;
}