.img{
    width: 200px;
    height: auto;
    margin: 0 auto;
    border-radius: 8px
}
.ReviewBox{
    background-color: transparent;
    color: white;
    padding-top: 4rem;
    padding-bottom: 4rem;
    overflow-x: hidden;
}