.img{
    width: 200px !important;
    height: auto !important;
    margin: 0 auto !important;
    border-radius: 8px !important
}
.ReviewBox{
    background-color: transparent !important;
    color: white !important;
    padding-top: 4rem !important;
    padding-bottom: 4rem !important;
    overflow-x: hidden !important;
}