.addressParent {
  border: 1px solid #dfdfdf;
  padding: 15px;
  margin-top: 8px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  background-color: #fff;
  transition: background-color 0.3s ease;
}

.addressParent:hover {
  background-color: #f9f9f9;
}

.addressParent:active {
  background-color: #f0f0f0;
}

.icon {
  color: #4caf50;
  font-size: 2rem;
  margin-right: 8px;
}
.addressText {
  font-size: 1rem;
  font-weight: bold;
  color: #4caf50;
}

.addressMap {
  border: 1px solid #dfdfdf;
  padding: 12px;
  margin-top: 8px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  gap: 20px;
  border-radius: 8px;
}

.noOrderParent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  flex-direction: column;
}

.OrderComponentParent {
  width: 80%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.activeStep {
  border: 1px solid black;
  padding: 15px;
  color: black;
  border-radius: 12px;
  width: 120px;
  margin-right: 4px;
}
.PaymentCartFormMap {
  background-color: whitesmoke;
  padding: 8px;
  border-radius: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.OnlinePaymentButton {
  border: 1px solid #dfdfdf;
  padding: 20px;
  border-radius: 12px;
  margin-top: 8px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.pay{
    background-color: black;
    padding: 16px;
    border-radius: 9px;
    color: white;
    width: 140px
}

.pay:hover{
    background-color: #333;
}

.shipmentCenter{
    display: flex;
    justify-content: center;
    flex-direction: column
}
.shipmentRow{
    display: flex;
    flex-direction: row;
    align-items: center
}
.orderPageParent{
    overflow-x: hidden !important;
}
.OrderComponentWrapperClass{
    width:100vw !important;
    display:flex !important;
    justify-content:center !important;
    align-items:center !important
}
.h5{
  margin-bottom: 20px;
  font-weight: bold;
  width: 46vw;
  display: flex;
  justify-content: center
}
.allOrderParents{
  padding: 20px;
}
.CircularProgress{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 100vw;
  flex-direction: column
}

.center{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card{
  padding: 20px;
  border: 1px solid #e0e0e0
}
.header{
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.productInfoBox{
  display: flex;
  align-items: center;
  background-color: #f9f9f9;
  padding: 16px;
  border-radius: 8px;
  margin-bottom:10px
}
.img{
  width: 70px;
  height: 70px;
  margin-right: 16px;
  object-fit: contain
}
.colorBox{
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transition: transform 0.2s;
  border: 1px solid black
}
.rating{
  margin: 10px 0px 10px 0px;
  color: #ff4081;
  cursor: pointer
}
.cancelStatus{
  background-color: red;
  margin-right: 10px
}

.deliveredStatus{
  background-color: green;
  margin-right: 10px
}