.Card{
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative;
  
}
.chip{
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px
}
.DeleteIcon{
    position: absolute;
    top: 10px;
    background-color: white;
    right: 10px;
    color: black;
    filter: opacity(0.7);
    border-radius: 50%;
    z-index: 45;
    padding: 5px;
    cursor: pointer;
    transition: transform 0.2s
}
.price{
    display: flex;
    align-items: center;
    gap: 5px
}
.offerPrice{
    font-weight: 700;
    font-size: 1.2rem;
    color: green
}
.originalPrice{
    text-decoration: line-through;
    font-size: 0.9rem;
    color: gray
}
.iconSection{
    justify-content: space-between;
    gap: 15px;
    flex-wrap: wrap
}
.cardContent{
    color: black;
    filter: brightness(0.7);
    cursor: pointer
}